@use '../styles/variables.scss' as *;
@use '../styles/mixins.scss' as *;

.active-projects{
    @include h2();
    padding-top: 2rem;
    padding-left: 6rem;
    &__header{
    }

    &__list{

    }

    &__item{
        width: 100%;
        display: flex;
        gap: 1rem;
    }

    &__image{
        height: 40px;
        width:40px;
        }
}