@use "../styles/mixins.scss" as *;

.form {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 2rem;
    width: 70%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
  &__title {
    @include h1();
    font-weight: 700;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
  }
  &__label{
    @include h2();
    font-size: 1rem;
    font-weight: 600;
  }
  &__input{
    width: 70%;
    height: 2rem;
    border-radius: 10px;
    background-color: beige;
    }
    &__input::placeholder{
        padding-left: .5rem;
    }

  &__input-desc{
    height: 10rem;
  }
  &__input-desc::placeholder{
    position:relative;
  }
}
