
$primary-color: black;
$font-family: 'Inter', sans-serif;
$font-size-small: 14px;
$font-size-large: 18px;
$line-height-small: 21px;
$line-height-large: 23px;
$font-weight-normal: 500;
$font-weight-bold: 700;