@use '../styles/mixins.scss' as *;

.contactme{
    display: flex;
    flex-direction: column;
    padding: 4rem 6rem;

    &__title{
        @include h2();
    }
    &__container{
        display:flex;
        align-items: center;
        @include h3();
    }

    &__details{
        display:flex;
        flex-direction: column;
        padding-left: 2rem;
        
    }
}